* {
    padding: 0;
    margin: 0;
    font-family: $font-family-sans-serif;
}

img {
    width: 100%;
}

.sp-core-container {
    display: flex;

    main {
        padding: 1.7vw 1.7vw;
        max-width: 94%;
        flex-wrap: wrap;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100vh;
    }
}

.sp-row {
    display: flex;
    flex-wrap: wrap;
    margin: inherit;

    .sp-col {
        padding: 1.7vw 1.7vw;
        flex: 1;
    }

    .sp-col-6 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 1.1vw 1.7vw;
    }

    .sp-col-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        padding: .5vw .5vw;
    }

    .sp-col-3 {
        flex: 0 0 25%;
        max-width: 25%;
        padding: .5vw .5vw;
    }

    .sp-col-2{
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        padding: .5vw .5vw;
    
    }
}


@media screen and (max-width: $breakpoint-mobile-xl) {
    .sp-core-container {
        flex-direction: row;

        main {
            transition: margin-left 0.5s;
        }
    }
}

@media screen and (min-width: $breakpoint-desktop-xxxl) {
    .sp-core-container {
        main {
            width: 100%;
        }
    }
}

.modalOpen::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #41A3DF33;
    z-index: 999;
    overflow: hidden;
    transition: opacity 0.3s ease; 
}