.sp-card {
    background: white;
    border-radius: 20px;
    box-shadow: 3.6400320529937744px 0px 21.840194702148438px 0px #B9D4D080;
    padding: 15px;
    height: 230px;

    .sp-card-div {
        background: $color-bleu-1;
        height: 45px;
        width: 45px;
        border-radius: 20px;
        padding: 7px;
    }
    .sp-card-img {
        height: 30px;
        width: 31px;
    }

    .sp-title {
        font-size: 18px;
        margin-top: 17px;
        font-weight: 800;
        width: 140px;
        font-family: $font-family-sans-serif;
    }

    .sp-div-btn {
        width: 100%;
        margin-top: -10px;
    }
}