.sp-card-notification {
    border-radius: 14px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

    .sp-card-notification-content {
        display: flex;
        height: 100%;
        padding: 10px;

        .sp-card-notif-icon {
            flex: 0 0 auto;
            width: 15%;
            height: 100%;
            align-items: center;
            padding: 10px 0;

            svg {
                display: block;
                margin: auto;
                width: 55%;
                height: 55%;
            }
        }

        .sp-card-notif-text {
            flex: 1 1 auto;
            padding: 10px 10px;

            .sp-notif-title {
                font-size: 20px;
                font-weight: 600;
                color: #4E4E4E;
                margin-bottom: 0;
            }

            .sp-description {
                display: flex;

                .sp-name {
                    font-size: .9rem;
                    font-weight: 300;
                    color: $color-bleu;
                    margin-bottom: 0.4rem;
                }

                .sp-date {
                    font-size: 1rem;
                    color: #4E4E4E;

                    &::before {
                        content: "•";
                        margin: 0 5px;
                    }
                }
            }
        }

        .sp-status {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: #41A3DF;
        }
    }
}