.sp-schoolap-video {
    position: relative;
    cursor: pointer;
    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 18px;
        background-color: #B9D4D066; /* Couleur d'ombrage semi-transparente (noir avec opacité 0.5) */
        z-index: 1; /* Assure que l'overlay est au-dessus de l'image */
    }
    img {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        z-index: -0.75; /* Assure que l'image est au-dessus de l'overlay */
    }

    .sp-svg-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3; /* Assure que l'icône SVG est au-dessus de l'overlay et de l'image */
    }
}