.sp-bread-title {
    display: flex;
    align-items: center;
    cursor: pointer;

    .sp-bread-img {
        width: 30px;
        height: 29px;
    }

    .sp-title {
        font-family: $font-family-sans-serif;
        margin-top: 14px;
        font-size: 20px;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
    }

    .sp-img {
        width: 33px;
        height: 24px;
    }

    .sp-title-bleu {
        font-weight: 300;
        font-size: 20px;
        margin-top: 8px;
        color: $color-bleu;
        text-decoration: none;
    }

    .sp-left-link {
        text-decoration: none;
        color: $color-noir;
    }

    .sp-right-link {
        text-decoration: none;
        color: #34A3D4;
    }

}