.sp-label {
    font-family: $font-family-sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
}

.sp-form-control {
    border: 1.29px solid $color-gris-2;
    height: 47.97px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.149625px;
    border-radius: 0.62em;
    outline: none;
    padding: 13px;
    margin: auto;
    width: 100%;
    color: $color-noir;
    
    &::placeholder {
        color: $color-gris-2;
        font-family: $font-family-sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0px;
    }
}

.search-container {
    position: relative;
    display: flex;

    .sp-form-control {
        padding-left: 30px; 
        padding-right: 10px; 
        border: 1px solid $color-noir;
        border-radius: 5px;
        height: 47.97px;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.149625px;
        border-radius: 0.95em;
        outline: none;
        margin: auto;
        width: 100%;
        color: $color-noir;
    }

    .search-icon {
        position: absolute;
        left: 10px; 
        top: 50%;
        transform: translateY(-50%);
    }
    .icon {
        position: absolute;
        color: $color-gris-2;
        left: 10px; 
        top: 50%;
        transform: translateY(-50%);
    }
}

.sp-form-icon {
    position: relative;
    display: flex;

    .sp-form-control {
        padding-left: 30px; 
        padding-right: 10px; 
        border: 1px solid $color-gris-2;
        border-radius: 5px;
        height: 47.97px;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.149625px;
        border-radius: 0.95em;
        outline: none;
        margin: auto;
        width: 100%;
        color: $color-noir;
    }

    .icon {
        position: absolute;
        color: $color-gris-2;
        left: 10px; 
        top: 50%;
        transform: translateY(-50%);
    }
}

.sp-form-textarea {
    @extend .sp-form-control;
    resize: none;
    height: 150px;
}

.sp-form-password {
    position: relative;
    width: 100%;

   
    input[type="password"]::-ms-reveal {
        display: none;
    }
    
    .toggle {
        background: none;
        border: none;
        color: $color-noir;
        font-weight: 600;
        position: absolute;
        right: .95em;
        top: 2.85em;
        z-index: 9;
    }

    svg path {
        stroke: $color-noir;
    }
}
