.sp-file-upload {
	background: $color-bleu-light;
    color: $color-bleu;
    border: 1px solid $color-bleu;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
    height: 47.97px;
	border-radius: 15px;
	font-size: 1em;
	font-weight: bold;
	margin: 1.25em auto;/*20px/16px 0*/
	overflow: hidden;
	padding: 0.875em;/*14px/16px*/
	position: relative;
	text-align: center;
	width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .sp-file-upload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 148px;
        height: 46px;
        cursor: pointer;
    }

    input[type="file"] {
        position: fixed;
        right: 100%;
        bottom: 100%;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .title {
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
    }

}

.sp-file-upload-with-img {
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 15px;

    .sp-file-img {
        border-radius: 100%;
        height: 65px;
        width: 68px
    }

    .sp-file-svg {
        margin-left: 30px;
        cursor: pointer;
    }

    .s-block {
        display: grid;
        margin-left: 10px; 
        width: 100%;

        .sp-file-name {
            font-family: 'Poppins';
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0em;
            margin-left: 10px
        }
    
        .sp-file-loader {
            margin-left: 11px;
            width: 100%;
        }
    
        .sp-file-size {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0em;
            margin-left: 10px
        }
    }
}


@each $color, $value in $colors {
    .sp-file-upload-#{$color} {
        @extend .sp-file-upload;
        border: 1px solid $value;
        color: $value;
        background: white;

        .svg svg path {
            background: $value;
            stroke: $value;
            fill: $value;
        }
    }
}