.sp-donut {
    position: relative;

    .donut-chart {
        width: 100%;
        height: 100%;

        .donut-chart__hole,
        .donut-chart__ring {
            fill: none;
            stroke-width: 4;
        }

        .donut-chart__hole {
            stroke: #E3E3E3;
        }

        .donut-chart__ring {
            stroke-linecap: round;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
        }
    }

    .sp-description {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;

        h2 {
            line-height: 18px;
            letter-spacing: -1.30301px;
            color: #282929;
        }

        h2,
        p {
            font-size: 1.8rem;
            margin: 0 !important;
            text-align: center;
            font-weight: 600;
            transform: translate(-50%, -50%);
        }

        p {
            font-size: .7rem;
            font-style: normal;
            font-weight: 400;
        }

    }
}